
/*PHONES to iPHONES*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	/*body {
		background-color: red;
	}*/
	button {
		margin-left: 45%;
	}
	h1 {
		font-size: 3em;
	}
	.directions,
	.diceroll {
		min-height: 500px;
	}
	button {
		font-size: 0.75em;
	}
}

/*iPHONES6 to GALAXY*/
@media only screen and (min-width: 360px) and (max-width: 640px) {
	/*body {
		background-color: orange;
	}*/
	button {
		margin-left: 45%;
	}
	h1 {
		font-size: 3em;
	}
	.directions,
	.diceroll {
		min-height: 500px;
	}
	button {
		font-size: 0.75em;
	}
}

/*TABLETS*/
@media only screen and (min-width: 768px) {
	/*body {
		background-color: yellow;
	}*/
	.diceroll,
	.directions {
		min-height: 750px;
	}
}

/*PRINT*/
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
	}
	footer,
	nav {
		display: none;
	}
	.directions,
	.diceroll {
		min-height: 100px;
	}
	h1 {
		font-size: 2em;
	}
	img {
		width: 50%;
		height: 50%;
	}
}